:host {
	overflow: auto;
	display: flex;
	justify-content: center;
	width: 100%;
}

a {
	font-weight: 600;
	font-size: 17px;
	line-height: 24px;
	color: #2A6ED4;
	margin-left: 4px;
}

.body {
	.body-text {
		margin-bottom: 40px;
	}
}

.fixed-width {
	width: 448px;
}
