<div class="body">

	<div class="flex row">
		<form [formGroup]="form" class="flex col fixed-width">
			<h2>Password reset</h2>
			<div class="body-text">
				Enter your email, and we’ll send you instructions on how to reset your password
			</div>

			<cw-input
				formControlName="email"
				inputPlaceholder="Enter your email here"
				inputLabel="Email"
			></cw-input>

			<cw-button
				[buttonDisabled]="form.invalid"
				(click)="reset()"
				buttonText="Send"
			></cw-button>
		</form>
		<div class="flex col a-i-c j-c-c fixed-width">
			<img src="../../../assets/first-page.png" alt="logo" class="flex col a-i-c j-c-c fixed-width"/>
		</div>
	</div>
</div>
