<section class="accordion">
	<div
		*ngFor="let item of items;index as i"
		class="item"
		[class.disabled]="item.disabled"
		[class.active]="expanded.has(i)"
	>
		<ng-container
			[ngTemplateOutlet]="(item?.customHeader?.templateRef || defaultHeader)"
			[ngTemplateOutletContext]="{$implicit: item, index: i, toggle: i | getToggleFunction: toggleState}"
		></ng-container>
		<div
            class="content"
            [class.expanded]="expanded.has(i)"
            [@contentExpansion]="expanded.has(i) ? 'expanded':'collapsed'"
        >
			<ng-container *ngTemplateOutlet="item?.content?.templateRef || null"></ng-container>
		</div>
	</div>
</section>

<ng-template #defaultHeader let-item let-index="index">
	<header
        class="header"
        (click)="!item.disabled && toggleState(index)"
    >
		<ng-container
			*ngTemplateOutlet="item?.customTitle?.templateRef || defaultTitle"
        ></ng-container>
		<button
            class="toggle-btn"
            [disabled]="item.disabled"
        >
			<div style="height: 24px; width: 24px;" class="flex col a-i-c j-c-c">
				<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'>
					<path d='M14 7L9 12L14 17' stroke='#3A8EF7' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' />
				</svg>
			</div>
		</button>
	</header>
	<ng-template #defaultTitle>
		<p class="title">{{item?.title}}</p>
	</ng-template>
</ng-template>
