@import '_colors';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

$accordion-header-height: 50px;
$accordion-disabled: hsl(0, 0%, 60%);
$accordion-border-radius: 8px;

.accordion {
  background: $gray-10;

  .header {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    height: $accordion-header-height;
    cursor: pointer;
    background: $blue-10;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color:  $blue-50;
    border-radius: $accordion-border-radius;
}

  .toggle-btn {
    border: none;
    transition: transform 0.2s ease-in;
    background: none;
  }

  .item {
    &.active {
      .header {
        border-color: $blue-50;
      }
    }
  }

  .item.disabled {
    .header {
      color: $accordion-disabled;
      cursor: not-allowed;
    }
  }

  .toggle-btn:disabled {
    cursor: not-allowed;
  }

  .toggle-btn {
    transform: rotate(270deg);
  }

  .toggle-btn:disabled svg path:nth-child(2) {
    fill: $accordion-disabled;
  }

  .item.active .toggle-btn {
    transform: rotate(90deg);
  }

  .item .header:focus-within {
    border-color: $blue-50;
    border-radius: $accordion-border-radius;
  }

  .toggle-btn:focus {
    outline: none;
    transform: rotate(270deg);
  }

  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    opacity: 1;
  }
}
