<ng-container *ngIf="showCreditCardForm; else showUserInfoForm">
	<a (click)="toggleCreditCardForm()" class="flex row a-i-c pointer">
		<cw-svg-icon svg="chevron-left"></cw-svg-icon>
		<span>Back</span>
	</a>
	<h2>Payment settings</h2>
	<cwb-payment></cwb-payment>
</ng-container>

<ng-template #showUserInfoForm>
	<h4 style="margin-bottom: 16px">General settings</h4>
	<form [formGroup]="form">
		<cw-input
			formControlName="firstName"
			inputLabel="First Name"
			inputPlaceholder="Enter your first name"
			inputType="text"
		></cw-input>

		<cw-input
			formControlName="lastName"
			inputLabel="Last name"
			inputPlaceholder="Enter your last name"
			inputType="text"
		></cw-input>

		<cw-input
			formControlName="email"
			inputLabel="Email"
			inputPlaceholder="Enter your email here"
			inputType="text"
		></cw-input>

		<div class="flex w-100" style="margin-bottom: 16px">
			<cwb-timezone-selector
				formControlName="timeZone"
				class="flex mb-20 w-100"
			></cwb-timezone-selector>
		</div>

		<cw-small-button
			(click)="save()"
			[buttonDisabled]="form.invalid || form.pristine"
			buttonText="Save"
			class="flex mt-16 j-c-fs"
		></cw-small-button>
	</form>

	<hr/>

	<div class="flex col a-i-fs">
		<h4>Payment method</h4>
		<ng-container *ngIf="userSettings.paymentMethodComplete; else notComplete">
			<div class="flex mt-16">
				You have a payment method saved with CaptionWorks.
			</div>
		</ng-container>
		<ng-template #notComplete>
			<div class="flex mt-16">
				You don't have a payment method set up yet.
			</div>
		</ng-template>
		<div class="flex row a-i-c j-c-c pointer mt-16" (click)="showPaymentSettingForm()">
			<cw-svg-icon svg="edit"></cw-svg-icon>
			<span class="update-label">Update payment method</span>
		</div>
	</div>
</ng-template>
