<div class="flex row j-c-c a-i-c">
    <div class="left">
        <h2>
            <ng-container *ngIf="isAdmin;else bookings_title">Admin</ng-container>
            <ng-template #bookings_title>Bookings</ng-template>
        </h2>
        <cwb-login-form></cwb-login-form>
        <div class="flex row j-c-c a-i-c mt-20 forgot">
            <div class="mr-20 fw-6">
                Forgot the password?
            </div>
            <a class="link-primary reset fw-6" routerLink="../../reset-password">
                Reset
            </a>
        </div>
    </div>
    <img class="flex right graphic" src="../../../assets/first-page.png" alt="first-page"/>
</div>
