@import '_colors';

:host {
    overflow: hidden;
}

.update-form {
    .form-head {
        border-bottom: 1px solid $gray-20;
        padding-bottom: 8px;
    }

    .scrollable {
        padding-right: 8px;
        padding-left: 4px;
        height: calc(100vh - 322px);
        overflow-y: scroll;
    }
}
