<h1 class="display-6">Set new password</h1>
<form (ngSubmit)="change()" [formGroup]="form" class="flex col">
    <div class="flex col">
        <label for="new-password">Password</label>
        <input class="form-control form-control-lg" formControlName="password" id="new-password"
               placeholder="Enter the password" required type="password">
    </div>
    <div class="flex col mt-20">
        <label for="new-password2">Repeat password</label>
        <input class="form-control form-control-lg" formControlName="password2" id="new-password2"
               placeholder="Re-enter password" required type="password">
    </div>

    <cw-button
      [buttonDisabled]="form.invalid || form.pristine"
      buttonType="submit"
      buttonText="Set password"
    ></cw-button>
</form>
