@import '_colors';

main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	height: calc(100vh - 60px - 42px);
	overflow: hidden;
	background: $gray-20;
	border-bottom: 1px solid #DDDDDD;
	padding: 28px 32px;
}

.white {
	background: $white;
}
