cwb-timezone-selector {
    display: flex;
    margin-bottom: 20px;

    .double-select {
        gap: 24px;
        padding: 0 4px;
    }

    label {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 16px;
        color: #7e7e7e;
        font-weight: 600;
    }

    input {
        caret-color: transparent;
    }
}
