@import '_colors';

.head,
.name {
  white-space: nowrap;
}

.head {
  font-size: 12px;
  line-height: 16px;
  color: $gray-50;
}

.name {
  font-size: 14px;
  line-height: 24px;
  color: $gray-80;
  font-weight: 500;
}
