<ng-container *ngIf="isAdmin; else booking">
	<nav>
		<a routerLink="sessions" routerLinkActive="active">
			<cw-svg-icon svg="sessions"></cw-svg-icon>
			<span>Sessions</span>
		</a>
		<a routerLink="bookings" routerLinkActive="active">
			<cw-svg-icon svg="bookings"></cw-svg-icon>
			<span>Bookings</span>
		</a>
		<a routerLink="users" routerLinkActive="active">
			<cw-svg-icon svg="users"></cw-svg-icon>
			<span>Users</span>
		</a>
		<a routerLink="billings" routerLinkActive="active">
			<cw-svg-icon svg="billings"></cw-svg-icon>
			<span>Billings</span>
		</a>
	</nav>
</ng-container>

<ng-template #booking>
	<nav>
		<a routerLink="bookings" routerLinkActive="active">
			<cw-svg-icon svg="bookings"></cw-svg-icon>
			<span>Bookings</span>
		</a>
		<a routerLink="account-settings" routerLinkActive="active">
			<cw-svg-icon svg="account"></cw-svg-icon>
			<span>Account</span>
		</a>
	</nav>
</ng-template>
