<form (ngSubmit)="save()" [formGroup]="form">
	<div class="flex row gap-16">
		<cw-input
			formControlName="firstName"
			inputAutocomplete="firstName"
			inputLabel="First Name"
			inputPlaceholder="First Name"
		></cw-input>
		<cw-input
			formControlName="lastName"
			inputAutocomplete="lastName"
			inputLabel="Last Name"
			inputPlaceholder="Last Name"
		></cw-input>
	</div>

	<cw-input
		formControlName="email"
		inputAutocomplete="username"
		inputLabel="Enter your email here"
		inputPlaceholder="your@email.com"
	></cw-input>

	<div class="flex row gap-16">
		<ng-container *ngIf="form.controls['password']">
			<cw-input
				formControlName="password"
				inputAutocomplete="new-password"
				inputLabel="Password"
				inputPlaceholder="Enter the password"
			></cw-input>
		</ng-container>
		<ng-container *ngIf="form.controls['password2']">
			<cw-input
				formControlName="password2"
				inputAutocomplete="new-password"
				inputLabel="Password"
				inputPlaceholder="Re-enter password"
			></cw-input>
		</ng-container>
	</div>

	<cwb-timezone-selector class="mb-20" formControlName="timeZone"></cwb-timezone-selector>

	<cw-checkbox formControlName="isAdmin">User is admin</cw-checkbox>

	<cw-checkbox formControlName="isCaptioner">User is captioner</cw-checkbox>

	<cw-input
		*ngIf="form.controls['isCaptioner'].value"
		formControlName="respeakerRate"
		inputAutocomplete="new-password"
		inputLabel="Re-speaker rate"
		inputPlaceholder="150"
	></cw-input>

	<div class="flex j-c-sb mt-20">
		<cw-small-button
			[inverted]="true"
			buttonText="Cancel"
			routerLink="../"
		></cw-small-button>
		<cw-small-button
			(click)="save()"
			[buttonDisabled]="form.invalid || !form.touched"
			buttonText="Save"
		></cw-small-button>
	</div>
</form>
