<div class="register">
	<span *ngIf="isAdmin; else booking">
		Create new user
	</span>
	<ng-template #booking>Register</ng-template>
</div>
<cwb-card>
	<form [formGroup]="form" class="flex col">

		<div class="flex row gap-16 a-i-c">
			<cw-input
				class="flex flex-1"
				style="width: 208px"
				formControlName="firstName"
				inputLabel="First name"
				inputPlaceholder="Enter first name"
			></cw-input>

			<cw-input
				class="flex flex-1"
				style="width: 208px"
				formControlName="lastName"
				inputLabel="Last name"
				inputPlaceholder="Enter last name"
			></cw-input>
		</div>

		<cw-input
			formControlName="email"
			inputLabel="Email address"
			inputPlaceholder="Enter your email here"
		></cw-input>

		<cw-input
			formControlName="password"
			inputLabel="Password"
			inputPlaceholder="Enter the password"
			inputType="password"
		></cw-input>

		<cw-input
			formControlName="password2"
			inputLabel="Re-enter password"
			inputPlaceholder="Repeat password"
			inputType="password"
		></cw-input>

		<cwb-timezone-selector formControlName="timeZone"></cwb-timezone-selector>

		<cw-button
			(click)="create()"
			[buttonDisabled]="form.invalid || form.untouched"
			buttonText="Create profile"
			class="flex flex-1"
		></cw-button>
	</form>
</cwb-card>
