<cwb-breadcrumbs></cwb-breadcrumbs>

<ng-container *ngIf="(isLoggedIn$ | async); else unauthorized">
	<cwb-menu></cwb-menu>
	<div class="flex row a-i-c j-c-fe gap right">
		<cwb-user-info></cwb-user-info>
		<cw-small-button
			(click)="logout()"
			[inverted]="true"
			buttonText="Log out"
			icon="logout"
		></cw-small-button>
	</div>
</ng-container>

<ng-template #unauthorized>
	<div *ngIf="!isAdmin" class="flex j-c-sb a-i-c gap right">
		<span class="not-member fw-6">Not a member yet?</span>
		<cw-small-button
			[buttonText]="'Get started'"
			[routerLink]="['/', 'sign-up']"
		></cw-small-button>
	</div>
</ng-template>
