<cwb-page-top>
    <cwb-button-header>
        <h3>Users</h3>
        <cw-svg-icon [independent]="true" svg="refresh" (click)="reload()"></cw-svg-icon>
    </cwb-button-header>
    <cw-button
        routerLink="create"
        buttonText="Add new user"
    ></cw-button>
</cwb-page-top>

<cwb-card *ngIf="(users$ | async); else empty">
    <cwb-smart-table
        [source]="users$"
        [columns]="columnsConfig"
    ></cwb-smart-table>
</cwb-card>

<ng-template #empty>
    <span>You have no users yet. Click on "Add new user".</span>
</ng-template>
