@import '_colors';

:host {
	display: flex;
	width: 315px;
	overflow: visible;

	.logo {
		cursor: pointer;
		width: 315px;
		align-items: flex-start;
	}

	nav {
		.breadcrumb {
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
		}

		a {
			color: $gray-60;
		}

		.slash {
			color: $gray-40;
		}

		span {
			color: $gray-80;
		}
	}
}

.gap-8 {
	gap: 8px;
}
