<ng-container *ngIf="(breadcrumbs$ | async) as data else logo">
	<div
		*ngIf="data.length === 2; else logo"
		class="flex row gap-16 j-c-c a-i-c"
	>
		<img
			[routerLink]="['/']"
			alt="home"
			class="pointer"
			height="36px"
			src="../../../../assets/logo-part.svg"
		/>

		<nav
			aria-label="breadcrumbs"
			class="flex row gap-8 j-c-c a-i-c"
		>
			<a
				[routerLink]="data[0].path"
				class="breadcrumb"
			>
				{{data[0].title}}
			</a>
			<span class="breadcrumb slash">/</span>
			<span class="breadcrumb">{{data[1].title}}</span>
		</nav>
	</div>
</ng-container>

<ng-template #logo>
	<div class="flex col a-i-c logo">
		<img
			alt="CaptionWorks"
			height="48"
			routerLink=""
			src="../../../../assets/logo.svg"
			width="172"
		/>
	</div>
</ng-template>
