@use '@angular/material' as mat;

@include mat.core();
@import '_colors';
@import '@fontsource/inter/variable-full.css';
@import "~@ng-select/ng-select/scss/default.theme";

body {
	@supports (font-variation-settings: normal) {
		font-family: "InterVariable", sans-serif;
	}
	@supports not (font-variation-settings: normal) {
		font-family: "Inter-Variable", sans-serif;
	}
}

router-outlet {
	display: none;
}

.mat-snack-bar-container {
	background: white;
	border: 1px solid silver;
}

cwb-session-dialog {
  .form-inline > cw-input {
    input {
      text-align: center;
    }
  }
}
