.body-text {
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #5F5F5F;
}

.fs-xs {
	font-size: 12px;
	line-height: 16px;
}

.fs-footer {
	font-size: 14px;
	line-height: 24px;
}

.fs-s {
	font-size: 17px;
	line-height: 24px;
}

.fs-m {
	font-size: 20px;
	line-height: 24px;
}

.fs-l {
	font-size: 20px;
	line-height: 32px;
}

.fw-6 {
	font-weight: 600;
}

.word-nowrap {
	white-space: nowrap;
}
