@import '_colors';

:host {
	display: flex;
	flex-direction: column;
}

::ng-deep.md-drppicker {
	font-family: 'Inter', sans-serif !important;
	padding: 0 7px !important;

	&:not(.double) {
		height: max-content;
		position: sticky !important;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	td {
		border-radius: unset;
		transform: unset !important;
		transition: unset !important;
	}

	th,
	.week-days,
	.shown.calendar {
		color: $gray-80;
	}

	.month {
		font-size: 18px;
		font-weight: 600;
		line-height: 28px;
		vertical-align: middle;
		color: $gray-80;
	}

	.week-days > th > span {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		color: $gray-80;
	}

	.disabled {
		line-height: 24px;
		font-size: 20px;
		text-decoration: none !important;
		background-color: $gray-20 !important;
		border-radius: inherit;
	}

	.available {
		min-height: 40px !important;
		min-width: 32px !important;
		vertical-align: middle;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: $gray-90;

		&:hover {
			border-radius: 0 !important;
		}

		&.next,
		&.prev {
			background-image: url('../../../../assets/arrow-left.svg') !important;
			background-size: unset !important;
			height: 32px !important;
			width: 40px !important;
		}

		&.in-range {
			background: $blue-10;
			color: $blue-50;
		}

		&.active {
			font-weight: 600;

			&.start-date {
				background: $blue-50;
				border-radius: 8px 0 0 8px;
				color: white;
			}

			&.end-date {
				background: $blue-50;
				border-radius: 0 8px 8px 0;
				color: white;
			}

			&.start-date.end-date {
				border-radius: 8px;
			}
		}
	}
}
